  <title>{{#if meta.title }}{{meta.title}}{{else}} {{ title }} | AirPair {{/if}}</title>
  {{#if meta.description }}<meta name="description" content="{{ meta.description }}"/>{{/if}}
  <meta property="og:locale" content="en_US"/>
  {{#if meta.ogType }}<meta property="og:type" content="{{meta.ogType}}"/>{{else}}<meta property="og:type" content="article"/>{{/if}}
  {{#if meta.ogTitle }}<meta property="og:title" content="{{meta.ogTitle}}"/>{{/if}}
  {{#if meta.ogDescription }}<meta property="og:description" content="{{meta.ogDescription}}"/>{{/if}}
  {{#if meta.ogImage }}<meta property="og:image" content="{{meta.ogImage}}"/>{{/if}}
  {{#if meta.ogUrl }}<meta property="og:url" content="{{meta.ogUrl}}"/>{{/if}}
  {{#if meta.canonical }}<link rel="canonical" href="{{ meta.canonical }}" />{{/if}}
