  <title>
    {{#if meta.title }}{{meta.title}}
    {{else}} {{ title }} | AirPair {{/if}}
  </title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{#if meta.canonical }}<link rel="canonical" href="{{ meta.canonical }}" />{{/if}}  
  {{#if meta.description }}<meta name="description" content="{{ meta.description }}" />{{/if}}
  <meta property="og:locale" content="en_US"/>
  <meta property="og:type" content="article"/>
  {{#if meta.ogUrl }}<meta property="og:url" content="{{meta.ogUrl}}"/>{{/if}}
  {{#if meta.ogTitle }}<meta property="og:title" content="{{meta.ogTitle}}"/>{{/if}}
  {{#if meta.ogDescription }}<meta property="og:description" content="{{meta.ogDescription}}"/>{{/if}}
  {{#if meta.ogImage }}<meta property="og:image" content="{{meta.ogImage}}"/>{{/if}}
  {{#if meta.ogVideo }}<meta property="og:video" content="{{meta.ogVideo}}"/>{{/if}}