  <title>{{#if htmlHead.title }}{{htmlHead.title}}{{else}} {{ title }} | AirPair {{/if}}</title>
  {{#if htmlHead.description }}<meta name="description" content="{{ htmlHead.description }}"/>{{/if}}
  {{#if htmlHead.noindex }}<meta name="robots" content="noindex, follow">{{/if}}
  <meta property="og:locale" content="en_US"/>
  {{#if htmlHead.ogType }}<meta property="og:type" content="{{htmlHead.ogType}}"/>{{else}}<meta property="og:type" content="article"/>{{/if}}
  {{#if htmlHead.ogTitle }}<meta property="og:title" content="{{htmlHead.ogTitle}}"/>{{/if}}
  {{#if htmlHead.ogDescription }}<meta property="og:description" content="{{htmlHead.ogDescription}}"/>{{/if}}
  {{#if htmlHead.ogImage }}<meta property="og:image" content="{{htmlHead.ogImage}}"/>{{/if}}
  {{#if htmlHead.ogUrl }}<meta property="og:url" content="{{htmlHead.ogUrl}}"/>{{/if}}
  {{#if htmlHead.canonical }}<link rel="canonical" href="{{ htmlHead.canonical }}" />{{/if}}
