<header class="entry-header">
  <ol class="entry-meta breadcrumb">
    <li><a href="/posts" target="_self">Posts</a></li>
    <li>
      <a href="{{ primarytag.postsUrl }}" target="_self">{{ primarytag.slug }}</a>
    </li>
    <li>
      <span class="entry-author" itemprop="author" itemscope="itemscope" itemtype="//schema.org/Person">
      {{#if by.username}}
        <a href="/me/{{by.username}}" class="entry-author-link" itemprop="url" rel="author" target="_self">
        <span class="entry-author-name" itemprop="name">{{by.name}}</span></a>
      {{else}}
        <span class="entry-author-name" itemprop="name">{{by.name}}</span>
      {{/if}}
      </span>
    </li>
  </ol>
</header>

{{#if published }}
<banner-postcomp></banner-postcomp>
{{/if}}

{{#unless published}}
  {{#if submitted }}
  <section class="notifications">
    <div id="postinreview">
      <h1><img ng-src="/static/img/css/airpair-author.png" /> This post is under community review</h1>
      <p>The author is waiting for community feedback and a minimum of 5 reviews and an average rating of at least 3.5/5, before this post can be published.</p>
      <p>Review this post down the bottom, or fork and submit a pull request if
      you spot a typo or have suggestions to improve it before it is published for publish consumption.</p>
    </div>
  </section>
  {{/if}}
{{/unless}}

<article class="blogpost">

  <h1 class="entry-title" itemprop="headline">{{ title }}</h1>

  <div class="railMarker"></div>

  <h4 id="table-of-contents">Table of Contents</h4>
  {{{toc}}}
  {{!-- <div class="rail2CTA"></div> --}}

  <figure class="author">
    <img alt="{{by.name}}" src="{{by.avatar}}?s=100">
    <hr />
    <div>
      <label>{{ by.name }}</label>
      <social-links profile='{{ JSON by.social }}'></social-links>
      <figcaption>
        {{by.bio}}
      </figcaption>
    </div>
    <hr />
  </figure>

  {{#if assetUrl }}
  <p class="asset">{{ assetUrlToMedia assetUrl }}</p>
  {{/if}}
  <hr />

  {{#if by.expertId }}
  <div class="workshop-cta">
    <b>Want help from a top {{primarytag.name}} developer?</b> {{by.name}} is available for live {{primarytag.name}} pair programming on AirPair.
    <a id="postTopBookAuthor" data="{{ by.expertId }}" track-click="book" href="/billing/book/{{by.expertId}}">&gt;&gt; Video chat with {{by.name}}</a>
  </div>
  {{/if}}

  <post no-compile>{{{ html }}}</post>

  {{#if published }}
  <div class="share">
    <div class="pw-widget pw-counter-vertical" pw:twitter-via="airpair">
      <a class="pw-button-facebook pw-look-native"></a>
      <a class="pw-button-twitter pw-look-native"></a>
      <a class="pw-button-linkedin pw-look-native"></a>
    </div>
  </div>
  {{/if}}

  {{#if github }}
      <div class="rail1CTA railBookmarkCTA">
      <h6>Make this post better!</h6>
      <div class="fork">
        <a href="/posts/fork/{{_id}}" class="btn">Fork this post!</a>
        <p>Forked <b>{{forkers.length}}</b> times so far.</p>
      </div>
  </div>
  {{/if}}

  <div class="rail1CTA railBookmarkCTA">
    {{#if published }}
    <h6>Like this article?</h6>
    <div>
      <img src="{{by.avatar}}?s=100" />
      <div bookmarkerserver type="'post'" object-id="'{{_id}}'"></div>
      <p>Save it to your bookmarks</p>
    </div>
    {{/if}}
  </div>

  {{#if published }}
  <div id="bodyCTA1" class="bodyCTA1 bodyCTA">
    <div ng-if="!session._id">
      <div cta-post-subscribe
        tag-name="'{{primarytag.name}}'"
        tag-slug="'{{primarytag.slug}}'"
      ></div>
    </div>
    <div ng-if="session._id" request></div>
  </div>
  {{/if}}

  {{#if published }}
  <div id="disqus_thread"></div>
  {{/if}}

</article>

<section id="posts" class="similar">
  <hr />
  <h5>This post is categorized under</h5>
  <ul>{{#each tags}}
    <li><a href="/posts/tag/{{ slug }}">{{ name }}</a></li>
  {{/each}}
  </ul>

  {{#if published }}
  <section id="allposts">
    <h3>Similar posts<span><a href="/posts" target="_self">Recent posts</a></span></h3>
    <div class="posts recent">
      {{#each similar}}{{> postListItem this}}{{/each}}
    </div>
  </section>
  {{/if}}

</section>
