<article class="posttile comppost" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
  <img src="/static/img/pages/postscomp/{{prize.pic}}.png" class="logo" />
  <h3 class="sponsor">{{prize.sponsor}}</h3>
  <h5>{{prize.name}}</h5>

  <span class="entry-author" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
    <span class="entry-author-name" itemprop="name">{{ by.name }}</span>
  </span>

  <a href="{{ url }}" title="{{ title }}" target="_blank" rel="bookmark">
    <header class="entry-header">
      <img class="entry-header-image" itemprop="image" src="{{ meta.ogImage }}" align="left" />
    </header>

    <div class="entry-content" itemprop="text">
      <h2 class="entry-title" itemprop="headline">{{ title }}
      </h2>
      <div class="stars" stars val="{{stats.rating}}"></div>
      <i>reviewed by {{stats.reviews}}</i>
    </div>
  </a>

  <footer class="entry-footer">
    <img class="entry-author-img" itemprop="image" ng-src="{{ by.avatar }}?s=50" />
  </footer>

</article>
