<header class="entry-header">
  <ol class="entry-meta breadcrumb">
    <li><a href="/learn">Learn</a></li>
    <li><a href="/posts">Posts</a></li>
    <li>
      <a href="{{ primarytag.postsUrl }}">{{ primarytag.slug }}</a>
    </li>
    <li>
      <span class="entry-author" itemprop="author" itemscope="itemscope" itemtype="//schema.org/Person">
      {{#if by.username}}
        <a href="/me/{{by.username}}" class="entry-author-link" itemprop="url" rel="author" target="_self">
        <span class="entry-author-name" itemprop="name">{{by.name}}</span></a>
      {{else}}
        <span class="entry-author-name" itemprop="name">{{by.name}}</span>
      {{/if}}
      </span>
    </li>
  </ol>
</header>

<article class="blogpost">

  <h1 class="entry-title" itemprop="headline">{{ title }}</h1>

  <div class="railMarker"></div>

  <h4 id="table-of-contents">Table of Contents</h4>
  {{{toc}}}
  <div class="rail2CTA"></div>
  <figure class="author">
    <img alt="{{by.name}}" src="{{by.avatar}}?s=100">
    <figcaption>
      {{by.bio}}
    </figcaption>
    <hr />
  </figure>
  {{#if assetUrl }}
  <p class="asset">{{ assetUrlToMedia assetUrl }}</p>
  {{/if}}
  <hr />

  {{#if by.expertId }}
  <div class="workshop-cta">
    <b>Want help from a top {{primarytag.name}} developer?</b> {{by.name}} is available for live {{primarytag.name}} pair programming on AirPair.
    <a id="postTopBookAuthor" data="{{ by.expertId }}" track-click="book" href="/billing/book/{{by.expertId}}">&gt;&gt; Video chat with {{by.name}}</a>
  </div>
  {{/if}}

  <post no-compile>{{{ html }}}</post>

  <div class="share">
    <div class="pw-widget pw-counter-vertical" pw:twitter-via="airpair">
      <a class="pw-button-facebook pw-look-native"></a>
      <a class="pw-button-twitter pw-look-native"></a>
      <a class="pw-button-linkedin pw-look-native"></a>
    </div>
  </div>

  <div class="rail1CTA railBookmarkCTA">
    <h6>Like this article?</h6>
    <div>
      <img src="{{by.avatar}}?s=100" />
      <div bookmarkerserver type="'post'" object-id="'{{_id}}'"></div>
      <p>Save it to your bookmarks</p>
    </div>
  </div>

  <div class="bodyCTA1 bodyCTA">
    <div ng-if="!session._id">
      <div cta-post-subscribe
        tag-name="'{{primarytag.name}}'"
        tag-slug="'{{primarytag.slug}}'"
      ></div>
    </div>
    <div ng-if="session._id" request></div>
  </div>

  <div id="disqus_thread"></div>

</article>

<section id="posts" class="similar">
  <hr />
  <h5>This post is categorized under</h5>
  <ul>{{#each tags}}
    <li><a href="/posts/tag/{{ slug }}">{{ name }}</a></li>
  {{/each}}
  </ul>

  <section id="allposts">
    <h3>Similar posts<span><a href="/posts" target="_self">Recent posts</a></span></h3>
    <div class="posts recent">
      {{#each similar}}{{> postListItem this}}{{/each}}
    </div>
  </section>

</section>
