<article class="blogpost faq">

  <h1 class="entry-title" itemprop="headline">{{ title }}</h1>


  <div class="fork">
    {{#if github }}
    <h6>Something off?</h6>
    <div class="fork">
      <a href="/posts/fork/{{_id}}" class="btn">Fork this FAQ!</a>
      <p>Forked <b>{{forkers.length}}</b> times so far.</p>
    </div>
    {{/if}}
  </div>


  <post no-compile>{{{ html }}}</post>

  {{#if references}}
  <div id="references" no-compile>
    <hr />
    <h5>Definitions</h5>
    <ul class="references">
      {{#each references}}<li>{{{this}}}</li>{{/each}}
    </ul>
  </div>
  {{/if}}

</article>
