<article itemprop="blogPost" itemtype="http://schema.org/BlogPosting" itemscope="itemscope">
  <a rel="bookmark" target="_self" href="{{ url }}">

    <header>
      <time datetime="{{ isoMoment time }}">{{ dateFormat time 'dddd DD MMM, YYYY' }}</time>
    </header>

    <div>
      <h2 class="entry-title">{{title}}</h2>
      <h5 class="entry-author">{{ speaker.name }}</h5>
      <img src="//0.gravatar.com/avatar/{{speaker.gravatar}}?s=90">
    </div>

  </a>
  <footer class="entry-footer">
    <bookmarkerserver type="'workshop'" object-id="'{{_id}}'"></bookmarkerserver>
  </footer>
</article>
