<div class="sponsor sponsor-{{position}} sponsor-{{brand}}">
  <a rel="nofollow" href="/visit/{{shortUrl}}" class="{{tag}} banner-{{position}}" target="_blank" title="Deploy {{tag}} on {{brand}}">
    {{!-- <pre><em>window</em>.sponsor = {{brand}}</pre> --}}
    <img src="/ad/{{img}}" />
    {{!-- <pre>sponsor.<span>click</span>(you =>
 airpair.<span>thanks</span>(you)
  .then(<em>new</em> Content(sponsor.$))
  .success(post => post
    .author == you ?
      you.<span>earn</span>() : you.<span>learn</span>()))</pre> --}}
  </a>
</div>
