
<section id="comp2015">

<div class="fold">
    <section>
    <div class="img complogo"></div>
    <h1>2015 Developer Writing Competition</h1>

    </section>
    <section class="sponsors">

      <h4>In partnership with</h4>

      <div class="keen-io"></div>
      <div class="pubnub"></div>
      <div class="coreos"></div>
      <div class="rethinkdb"></div>
      <div class="ironio"></div>
      <div class="firebase"></div>
      <div class="neo4j"></div>
      <div class="twilio"></div>
      <div class="ionic"></div>
      <div class="mongodb"></div>
      <div class="hashicorp"></div>
      <div class="thoughtworks"></div>
      <div class="braintree"></div>
      <div class="pivotaltracker"></div>
      <div class="contentful"></div>
      <div class="sendgrid"></div>

    </section>
  </div>

      {{!-- <img src="/static/img/pages/postscomp/logo-rocket.png" />
      <img src="/static/img/pages/postscomp/logo-compose.png" />
      <img src="/static/img/pages/postscomp/logo-etcd.png" />
      <img src="/static/img/pages/postscomp/logo-ionic.png" />
      <img src="/static/img/pages/postscomp/logo-vaadin.png" />
      <img src="/static/img/pages/postscomp/logo-snap.png" />
      <img src="/static/img/pages/postscomp/logo-mingle.png" /> --}}

   <div class="cta1">
    {{!-- <div class="share2">
      <div class="pw-widget pw-counter-horizontal" pw:twitter-via="airpair">
        <a class="pw-button-twitter pw-look-native"></a>
        <a class="pw-button-googleplus pw-look-native"></a>
        <a class="pw-button-facebook pw-look-native"></a>
      </div>
    </div> --}}

    <section>
      <p><b>Submissions</b> 2015 Mar 1st - Jun 20th</p>
    </section>
  </div>

  <div class="details">
    <section>
      <br />
      <h3>Fork up! Join our <b>Social Authoring</b> experiment.</h3>

      <div>
        <p>
          AirPair's 100k Writing Competition was a celebration of our <i>Social Authoring</i> experiment. We'll be holding another competition in 2016.
        </p>

        <div class="flow" />

      </div>
      <br /><br />
    </section>
  </div>

<div class="about">

    <section id="overview" style="color:white">

      <h2>Overall competition winners</h2>

      <ul class="pastauthors">
        <li>
          <img src="//0.gravatar.com/avatar/f3d872377f757084e22ab15b7955a73d?s=120" />
          <h3>2nd Prize - $3000</h3>
          <p>
            <a href="https://www.airpair.com/reactjs/posts/reactjs-a-guide-for-rails-developers" target="_blank"><b>Fernando Villalobos</b>
            React.js<br />A guide<br/> For Rails Developers</a>
            <h6>Featured in</h6> <b>HackerNews<br />RubyInside</b>
          </p>
        </li>
        <li>
          <img src="//0.gravatar.com/avatar/5cac784a074b86d771fe768274f6860c?s=140" />
          <h3>1st Prize - $5000</h3>
          <p>
            <a href="https://www.airpair.com/javascript/posts/the-mind-boggling-universe-of-javascript-modules" target="_blank"><b>Tiago Romero Garcia</b> The mind-boggling universe of JavaScript Module strategies</a>
            <h6>Featured in</h6><b>CoDrops, Newspaper.io<br />& Javascript Weekly</b>
          </p>
        </li>
        <li>
          <img src="//0.gravatar.com/avatar/5c899b631c8ad629ef9b738de1b101b4?s=120" />
          <h3>3rd Prize - $2000</h3>
          <p>
            <a href="https://www.airpair.com/javascript/posts/switching-from-ios-to-ionic" target="_blank"><b>Simon Reimler</b> Switching from native iOS to Ionic: Why Hybrid doesn't suck (anymore)</a>
            <h6>Featured in</h6><b>MobileWebWeekly<br /> & ng-newsletter</b>
          </p>
        </li>
      </ul>

  </section>


</div>

{{#with r}}
<div class="prizes">

  <section>

    <h2 class="underline">Sponsor prize winners</h2>

    <div>
      {{#each prizes.sponsor}}
<article class="posttile comppost" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
  <div class="logo {{logo}}"></div>
  <h3 class="sponsor">{{sponsor}}</h3>
  <h5>{{prize}}</h5>

  <span class="entry-author" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
    <span class="entry-author-name" itemprop="name">{{ by }}</span>
  </span>

  <a href="https://www.airpair.com{{ url }}" title="{{ title }}" target="_blank" rel="bookmark">
    <header class="entry-header">
      <img class="entry-header-image" itemprop="image" src="{{ tileImg }}" align="left" />
    </header>

    <div class="entry-content" itemprop="text">
      <h2 class="entry-title" itemprop="headline">{{ title }}
      </h2>
      <div class="stars" stars val="{{rating}}"></div>
      <i>reviewed by {{reviews}}</i>
    </div>
  </a>

  <footer class="entry-footer">
    <img class="entry-author-img" itemprop="image" ng-src="{{ avatar }}?s=50" />
  </footer>
</article>
      {{/each}}
    </div>

  </section>

</div>

<div class="categories prizes">

  <section class="categoryprizes">
    <h2 class="underline">Category prize winners (sponsored by AirPair)</h2>

    <div>
      {{#each prizes.category}}
<article class="posttile comppost" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
  <div class="logo {{logo}}"></div>
  <h3 class="sponsor">airpair</h3>
  <h5>{{prize}}</h5>

  <span class="entry-author" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
    <span class="entry-author-name" itemprop="name">{{ by }}</span>
  </span>

  <a href="https://www.airpair.com{{ url }}" title="{{ title }}" target="_blank" rel="bookmark">
    <header class="entry-header">
      <img class="entry-header-image" itemprop="image" src="{{ tileImg }}" align="left" />
    </header>

    <div class="entry-content" itemprop="text">
      <h2 class="entry-title" itemprop="headline">{{ title }}
      </h2>
      <div class="stars" stars val="{{rating}}"></div>
      <i>reviewed by {{reviews}}</i>
    </div>
  </a>

  <footer class="entry-footer">
    <img class="entry-author-img" itemprop="image" ng-src="{{ avatar }}?s=50" />
  </footer>
</article>
      {{/each}}
    </div>

  </section>
  <div style="clear:both"></div>
</div>
{{/with}}


{{!-- <div class="share">
  <div class="pw-widget pw-counter-horizontal" pw:twitter-via="airpair">
    <a class="pw-button-twitter pw-look-native"></a>
    <a class="pw-button-googleplus pw-look-native"></a>
    <a class="pw-button-facebook pw-look-native"></a>
    <a class="pw-button-linkedin pw-look-native"></a>
    <a class="pw-button-reddit pw-look-native"></a>
  </div>
</div>
 --}}
</section>

