{{#with r}}
<header class="entry-header">
  <ol class="entry-meta breadcrumb">
    <li><a href="/workshops" target="_self">Workshops</a></li>
    <li>
      <span class="entry-author" itemprop="author" itemscope="itemscope" itemtype="//schema.org/Person">
        <span class="entry-author-name" itemprop="name">{{by.name}}</span>
      </span>
    </li>
  </ol>
</header>
<section id="workshops">
  <div id="show">
    <h1 class="entry-title">{{ title }}</h1>


    <div class="speakers">
      <script type="text/javascript">  </script>

      <h2>Presenting</h2>
      <ul>
        {{#each speakers }}
        <li>
          <h3>{{ name }}</h3>
          <img src="//0.gravatar.com/avatar/{{ gravatar }}?s=400" class="speaker" />

          {{ fullBio }}
        </li>
        {{/each}}
      </ul>
    </div>

    <time>{{time }}</time>

    {{ difficulty }} {{#each tags}}<label> { {{ this }} } </label>{{/each}}

    <p>{{ description }}</p>

    <hr />
  </div>
</section>
{{/with}}
