<footer>{{#with about}}
  <ul>{{#if name}}
    <li class="nm"><span>{{name}}</span></li>{{/if}}{{!-- {{#if version}}
    <li class="vr">v<var>{{version}}</var></li>{{/if}} --}}{{#if bugs}}
    <li class="bg"><span><a href="{{bugs}}" target="_blank" rel="nofollow">Report bug</a></span></li>{{/if}}{{#if privacy}}
    <li class="pr"><a href="{{privacy}}" target="_blank" rel="nofollow">Privacy</a></li>{{/if}}{{#if terms}}
    <li class="ts"><a href="{{terms}}" target="_blank" rel="nofollow">Terms of Service</a></li>{{/if}}{{#if author}}
    <li class="cp">&copy; 2017 {{author}}</li>{{/if}}{{#if contact}}
    <li class="ct"><a href="{{contact}}" target="_blank" rel="nofollow">Contact</a></li>{{/if}}
  </ul>{{/with}}
</footer>
