<main id="home">

  <section class="overview">
    <div>
      <h1>The world's best software experts and opportunities</h1>
{{!--       <p>Top companies <em>find and hire software developers</em> for full-time, contract and micro-consulting jobs using airpair.</p> --}}
    </div>

    {{!-- <div class="login">
      <a href="/auth/github/callback" target="_self" class="btn btn-icon-wmark btn-solo">Login</a>
    </div> --}}
  </section>

  <section id="tags">
    <h2><a href="/learn-code" target="_self">Find software talent by technology</a></h2>
    <a href="/node.js"><img src="{{static.host}}/img/software/node.js.icon.png"/></a>
    <a href="/posts/tag/angularjs"><img src="{{static.host}}/img/software/angularjs.icon.png"/></a>
    <a href="/python"><img src="{{static.host}}/img/software/python.icon.png"/></a>
    <a href="/android"><img src="{{static.host}}/img/software/android.png"/></a>
    <a href="/reactjs"><img src="{{static.host}}/img/software/reactjs.png"/></a>
    <a href="/ruby"><img src="{{static.host}}/img/software/ruby.png"/></a>
    <a href="/php"><img src="{{static.host}}/img/software/php.icon.png"/></a>
    <a href="/swift"><img src="{{static.host}}/img/software/swift.icon.png"/></a>
    {{!-- <a href="/twilio"><img src="{{static.host}}/img/software/twilio.png"/></a>
    {{!-- <a href="/neo4j"><img src="{{static.host}}/img/software/neo4j.png"/></a>
    <a href="/mongodb"><img src="{{static.host}}/img/software/mongodb.png"/></a>
  --}}
  </section>

  <section id="trending">
    <h2><a href="/software-experts" target="_self">Browse top software developers</a></h2>
    <div>
{{#each r.popular}}
      {{> postTile this}}
{{/each}}
    </div>
    </section>

  </main>


</div>

{{siteFooter}}
