{{> siteNav }}

<section id="posts">

  <h1>Top {{#if tag}}{{tag.name}}{{else}}software{{/if}} experts</h1>

  {{#with r}}

{{#if featured}}
  <div class="nobookmarks">
    {{#each featured}}{{> postTile this}}{{/each}}
  </div>
{{/if}}

{{#if hottag}}
  <h2 class="underline">Browse <span>{{hot}}</span> &
    {{{ stats.tags }}} + <a href="/learn-code" target="_self"> niche programming specialties.</a>
  </h2>

  <div class="popular nobookmarks">
    {{#each hottag}}{{> postTile this}}{{/each}}
  </div>
{{/if}}


{{#if latest}}
  <h2 class="underline">Latest software tutorials & guides</h2>
  <div class="popular nobookmarks">
    {{#each latest}}{{> postTile this}}{{/each}}
  </div>

{{else}}
  <p>No posts authored for <code>{{tag.name}}</code>. <a href="https://author.airpair.com/">Be the first!</a></p>
{{/if}}

{{#if top}}
  <div>
    <h2>Highest rated posts</h2>
    {{#each top}}{{> postTile this}}{{/each}}
  </div>
{{/if}}


{{#if popular}}
  <div class="popular nobookmarks">
    <h2>Popular software blog posts</h2>
    {{#each popular}}{{> postTile this}}{{/each}}
  </div>
{{/if}}


{{#if comp}}
  <div class="popular nobookmarks">
    <h2>Writing Competition Prize winners</h2>
    {{#each comp}}{{> postTile this}}{{/each}}
  </div>
{{/if}}


{{#if archive}}
  <h2>All software tutorials</h2>

  <ul class="archive-posts">
    {{#each archive}}
    <li><a href="{{url}}" target="_self">{{title}}</a> by <b>{{by.name}}</b></li>
    {{/each}}
  </ul>
{{/if}}


  {{/with}}

</section>
