<!DOCTYPE html>
<html ng-app="ADM">
<head>
  <title>Adm | AirPair</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ config.bundle.libCss}}" type="text/css" />
  <link rel="stylesheet" href="{{ config.bundle.admCss}}" type="text/css" />
  <base href="/" />
</head>
<body>
<header>
  <a href="/adm/pipeline" target="_self">Pipeline</a> |
  <a href="/adm/bookings">Bookings</a> |
  <a href="/v1/adm/orders">Orders</a> |
  <a href="/v1/adm/users">Users</a> |
  <a class="nomob" href="/v1/adm/companys">Companys</a> |
  <a class="nomob" href="/adm/views">Views</a> |
  <a class="nomob" href="/adm/posts">Posts</a> |
  Tags |
  <a class="nomob" href="/adm/chat">Chat</a> |
  <a class="nomob" href="/adm/redirects">Redirects</a>
</header>

<main>
  <div notifications></div>
  <div ng-view></div>
</main>

{{#if config.chatSettings.on}}
  <!-- <nav id="chat" chat-nav></nav> -->
  <!-- <div style="border-left:solid 1px red; position: fixed; top: 0px; height: 100%; right: 0; width: 300px;"> -->
{{!--
  <nav id="chat" chat-nav>
  </nav>
 --}}
  <!-- </div> -->
{{/if}}

<script type="text/javascript" src="{{ config.bundle.admScript }}"></script>
<script type="text/javascript">

window.viewData = { session: {{ JSON session }}, chatSettings: {{ JSON config.chatSettings }}, hangoutAppId: "{{ config.hangout.appId }}"}

</script>

</body>
</html>
