<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#" ng-app="AP" ng-strict-di>
<head>
{{#with viewData}}{{> pageMeta }}{{/with}}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="{{ config.bundle.libCss}}" type="text/css" />
  <link rel="stylesheet" href="{{ config.bundle.indexCss}}" type="text/css" />
  <link rel="alternate" type="application/rss+xml" href="https://www.airpair.com/rss" title="AirPair Rss" />
  <link rel="alternate" type="application/rss+xml" href="https://www.airpair.com/rss/posts" title="AirPair Posts" />
  <link rel="alternate" type="application/rss+xml" href="https://www.airpair.com/rss/workshops" title="AirPair Workshops" />
  <base href="/" />
</head>
<body>
{{> siteHeader }}

<div class="main-wrap">
  <div notifications></div>
  <main ng-view>
    <div id="serverTemplate">
      {{#with viewData}}
        {{#if postRender}}{{> post }}{{/if}}
        {{#if postblankRender}}{{> postblank }}{{/if}}
        {{#if postsRender}}{{> posts }}{{/if}}
        {{#if workshopRender}}{{> workshop }}{{/if}}
        {{#if workshopsRender}}{{> workshops }}{{/if}}
        {{#if tagRender}}{{> tag }}{{/if}}
        {{#if reviewRender}}{{> review }}{{/if}}
      {{/with}}
    </div>
  </main>

</div>

<nav id="side" class="collapse" side-nav></nav>
{{#if config.chatSettings.on}}
<nav id="chat" class="collapse" chat-nav></nav>
{{/if}}

<script type="text/javascript" src="{{config.bundle.indexScript}}"></script>
<script type="text/javascript">

function bindTracking() {
  ga('send', 'pageview')

  $.each($('.trackPostCTA'), function(idx,el){
    $(el).click(function (e) {
      analytics.track('Click', { type: 'Post CTA', unit: 'code footer', idx: idx, text: el.innerHTML, location: window.location.pathname });

      setTimeout(function () {
        window.location.href = $(el).attr('href');
      }, 350);

      return false;
    });
  })

  $.each($('.featured a.btn'), function(idx,el) {
    $(el).click(function (e) {
      analytics.track('Click', { type: 'Tag Feature', unit: 'featured', idx: idx, text: el.innerHTML, location: window.location.pathname });
    });
  })
}

window.viewData = { canonical: '{{ canonical }}', {{partialName}} : {{JSONID viewData}}, session: {{ JSON session }}, chatSettings: {{ JSON config.chatSettings }} };

</script>

{{> initPage }}

</body>
</html>
