<!DOCTYPE html>
<html ng-app="AP" ng-strict-di>
<head>
  <title>AirPair</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="robots" content="noindex, follow">
  <link rel="stylesheet" href="{{ config.bundle.libCss}}" type="text/css" />
  <link rel="stylesheet" href="{{ config.bundle.indexCss}}" type="text/css" />
  <link rel="alternate" type="application/rss+xml" href="https://www.airpair.com/rss" title="AirPair Rss" />
  <link rel="alternate" type="application/rss+xml" href="https://www.airpair.com/rss/posts" title="AirPair Posts" />
  <link rel="alternate" type="application/rss+xml" href="https://www.airpair.com/rss/workshops" title="AirPair Workshops" />
  <base href="/" />
</head>
<body>

{{> siteHeader }}

<div class="main-wrap">
  <div notifications></div>
  <main ng-view></main>
</div>


<nav id="side" class="collapse" side-nav></nav>
{{#if config.chatSettings.on}}
<nav id="chat" class="collapse" chat-nav></nav>
{{/if}}

<script type="text/javascript" src="{{config.bundle.indexScript}}"></script>
<script type="text/javascript">

function bindTracking() {}

window.viewData = { session: {{ JSON session }}, chatSettings: {{ JSON config.chatSettings }} };

</script>

{{> initPage }}

</body>
</html>
