<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#" ng-app="AP" ng-strict-di>
<head>
{{#with viewData}}{{> pageMeta }}{{/with}}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <link rel="stylesheet" href="{{ config.bundle.libCss}}" type="text/css" />
  <link rel="stylesheet" href="{{ config.bundle.indexCss}}" type="text/css" />
  <link rel="alternate" type="application/rss+xml" href="https://www.airpair.com/rss" title="AirPair Rss" />
  <base href="/" />
</head>
<body>
{{> siteHeader }}

<div class="main-wrap">
  <div notifications></div>
  <main ng-view>
    <div id="serverTemplate">
      {{#with viewData}}
        {{#if postRender}}{{> post }}{{/if}}
        {{#if postblankRender}}{{> postblank }}{{/if}}
        {{#if postfaqRender}}{{> postfaq }}{{/if}}
        {{#if postsRender}}{{> posts }}{{/if}}
        {{#if blogRender}}{{> blog }}{{/if}}
        {{#if workshopRender}}{{> workshop }}{{/if}}
        {{#if workshopsRender}}{{> workshops }}{{/if}}
        {{#if tagRender}}{{> tag }}{{/if}}
        {{#if reviewRender}}{{> review }}{{/if}}
        {{#if bookRender}}{{> book }}{{/if}}
        {{#if spinRender}}{{> spin }}{{/if}}
      {{/with}}
    </div>
  </main>

</div>

<nav id="side" ng-if="session._id" class="collapse" side-nav></nav>


<script type="text/javascript" src="{{config.bundle.indexScript}}"></script>
<script type="text/javascript">

function bindTracking() {
  ga('send', 'pageview')
}

window.viewData = { canonical: '{{ canonical }}', {{partialName}} : {{JSONID viewData}}, session: {{ JSON session }} };

</script>

{{> initPage }}

</body>
</html>
