<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#" ng-app="AP" ng-strict-di>
<head>
{{#with viewData}}{{> pageMeta }}{{/with}}
  {{> siteCss }}
  <base href="/" />
</head>
<body>
{{> siteHeader }}

{{#with viewData}}
<div class="main-wrap">
  <main ng-view>
    <div id="serverTemplate">
    <header class="entry-header">
      <p class="entry-meta">
        <a href="/posts">Posts</a>
        &nbsp; > &nbsp;
        <span class="entry-author" itemprop="author" itemscope="itemscope" itemtype="//schema.org/Person">
        {{#if by.username}}
          <a href="/me/{{by.username}}" class="entry-author-link" itemprop="url" rel="author" target="_self"><span class="entry-author-name" itemprop="name">{{by.name}}</span></a>
        {{else}}
          <span class="entry-author-name" itemprop="name">{{by.name}}</span>
        {{/if}}
        </span>
        &nbsp; > &nbsp;
        <time class="entry-time" itemprop="datePublished" datetime="{{ isoMoment published }}">{{ dateFormat published 'DD MMM, YYYY' }}
        </time>

      </p>
    </header>
    <article class="blogpost">
      <h1 class="entry-title" itemprop="headline">{{ title }}</h1>
      <div class="railCTA1Holder"></div>
      <div class="share">
        <div class="pw-widget pw-counter-vertical" pw:twitter-via="airpair">
          <a class="pw-button-facebook pw-look-native"></a>
          <a class="pw-button-twitter pw-look-native"></a>
          <a class="pw-button-linkedin pw-look-native"></a>
        </div>
      </div>

      <h4 id="table-of-contents">Table of Contents</h4>
      {{{toc}}}
      <div class="railCTA3Holder"></div>
      <figure class="author">
        <img alt="{{by.name}}" src="{{by.avatar}}?s=100">
        <figcaption>
          {{by.bio}}
        </figcaption>
        <hr />
      </figure>
      {{#if assetUrl }}
      <p class="asset">{{ assetUrlToMedia assetUrl }}</p>
      {{/if}}
      <hr />
      {{{ html }}}

      <div class="island">
        <div class="rail">
          <div class="rail1CTA railCTA">
            <h6>Like this article?</h6>
            <div>
              <img src="{{by.avatar}}?s=100" />
              <p>Save this post to your bookmarks</p>
              <div bookmarker type="post" class="bookmark"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="bodyCTA1 bodyCTA">
        <h6>Want to keep track of more {{ primarytag }} posts on AirPair?</h6>
        <div>
          {{!-- <p>Personalize AirPair >> <a href="#" ng-click="openStack()">Add <b>{{ primarytag }}</b> to your stack</a></p>
          <h5>And of course ... </h5> --}}
          <a href="https://twitter.com/airpair" class="twitter-follow-button" data-show-count="true">Follow @airpair</a>

        </div>
      </div>

      <div id="disqus_thread"></div>

    </article>

    <section id="posts" class="similar">
      <hr />
      <section id="allposts">
        <h3>Similar posts<span><a href="/posts" target="_self">Recent posts</a></span></h3>
        <div class="posts recent">
          {{#each similar}}{{> postListItem this}}{{/each}}
        </div>
      </section>

    </section>
  </div>
  </main>
</div>
{{/with}}

<nav id="side" class="collapse" side-nav></nav>

{{> siteScripts }}
<script type="text/javascript">

  function bindTracking() {
    ga('send', 'pageview')

    $.each($('.trackPostCTA'), function(idx,el){
      $(el).click(function (e) {
        analytics.track('Click', { type: 'Post CTA', unit: 'code footer', idx: idx, text: el.innerHTML, location: window.location.pathname });

        setTimeout(function () {
          window.location.href = $(el).attr('href');
        }, 350);

        return false;
      });
    })
  }

  function loadDisqus()
  {
    window.disqus_url = '{{viewData.meta.canonical}}';
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = 'https://airpairblog.disqus.com/embed.js';
    var x = document.getElementsByTagName('script')[0];
    x.parentNode.insertBefore(dsq, x);
  }


{{#with viewData}}
  window.viewData = { post: { _id: '{{_id}}' } }
{{/with}}

</script>
{{> initPage }}

</body>
</html>
