<!DOCTYPE html>
<html>
<head>
  <title>{{viewData.tag.name}} Articles, Workshops & Developers ready to help. A top #{{viewData.tag.name}} resource!</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
{{#with viewData}}
  <meta name="description" content="{{viewData.tag.name}} Articles, Workshops & Developers ready to help. One of the web's top #{{viewData.tag.name}} resources - totally worth bookmarking!"/>
  <meta property="og:locale" content="en_US"/>
  <meta property="og:type" content="website"/>
  <meta property="og:title" content="AngularJS Articles, Workshops and Developers"/>
  <meta property="og:description" content="One of the best collections of #AngularJS Articles, Live Workshops and Developers on the web" />
  <meta property="og:image" content="http://www.airpair.com/v1/img/css/tags/{{tag.slug}}-og.png"/>
  <meta property="og:url" content="http://www.airpair.com/{{tag.slug}}"/>
  <link rel="canonical" href="http://www.airpair.com/{{tag.slug}}" />
{{/with}}
  <link rel='stylesheet' id='google-font-css'  href='//fonts.googleapis.com/css?family=Open+Sans%3A300%2C400%2C700&#038;ver=2.0.1' type='text/css' media='all' />
  <link rel="stylesheet" href="/v1/lib/bootstrap/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="/v1/lib/prism/prism.css" type="text/css" />
  <link rel="stylesheet" href="/v1/css/index.css" type="text/css" />
</head>
<body>

{{> siteHeader }}

<div class="main-wrap">
  {{#with viewData}}
  <main>
    <header class="entry-header">
    {{ name }}
    </header>


  <section id="tag">

    <section class="header">

      <hr />
      <img src="/v1/img/css/tags/{{tag.slug}}.png" class="{{tag.slug}}" />

      <h1>Welcome to a community of {{tag.name}} experts</h1>

      <p>Here you can meet senior {{tag.short}} developers and learn from them through articles,
        workshops and pair programming.</p>

      <div class="share">
        <div class="pw-widget pw-counter-vertical" pw:twitter-via="airpair">
          <a class="pw-button-facebook pw-look-native"></a>
          <a class="pw-button-twitter pw-look-native"></a>
          <a class="pw-button-googleplus pw-look-native"></a>
          <a class="pw-button-linkedin pw-look-native"></a>
        </div>
      </div>
      <hr />

    </section>


    <section class="featured">
      <hr />
      {{#with featured}}
      <div class="row">

        <div class="col-md-4 workshops">
          <a class="btn" href="#tagworkshops">Workshops</a>
          <hr class="vr" />
          {{#with workshop}}{{> workshopListItem }}{{/with}}
        </div>

        <div class="col-md-4 posts">
          <a class="btn" href="#tagposts">Articles</a>
          <hr class="vr" />
          {{#with post}}{{> postListItem }}{{/with}}
        </div>

        <div class="col-md-4 pairing">
          <a class="btn" href="#tagpairing">Pair Programming</a>
          <hr class="vr" />
          {{#with pairing}}{{> expertListItem }}{{/with}}
        </div>
      </div>
      {{/with}}
    </section>


    <section class="about">
      <h2>{{ about.tagline }}</h2>

      <blockquote>
        <img src="{{ about.byPic }}?s=160" />
        <p>{{ about.quote }}</p>
        <cite>{{ about.by }}</cite>
      </blockquote>
    </section>


    <section id="tagworkshops" class="workshops">
      <h2>{{tag.name}} Workshops</h2>

      {{#each workshops }}
      <a href="{{ url }}" class="workshop">
        <header>
          <time datetime="{{ isoMoment time }}">{{ dateFormat time 'ddd DD MMM, YYYY' }}</time>
        </header>
        <img src="//0.gravatar.com/avatar/{{speaker.gravatar}}?s=120">
        <h3 class="entry-title">{{ title }}</h3>
        <h5 class="entry-author">{{ speaker.name }}</h5>
        <hr />
      </a>
      {{/each}}
      <a class="workshop more" href="/workshops" target="_self">
        <header></header>
        <img src="//0.gravatar.com/avatar/e79ddd03edffc5c0669b78e7a090b037?s=120">
        <h3 class="entry-title">See all workshops</h3>
        <h5 class="entry-author">by AirPair</h5>
        <hr>
      </a>
    </section>


    <section id="tagposts" class="posts">
      <h2>{{tag.name}} Articles</h2>

      <div class="posts recent">
        {{#each posts}}{{> postListItem }}{{/each}}

        <article class="more">
        <a rel="bookmark" target="_self" title="All {{tag.name}} posts" href="/posts/tag/{{tag.slug}}">
          <header class="entry-header">
            <img align="left" src="/v1/img/css/tags/{{tag.slug}}.png" style="width:100%">

            <p class="entry-meta">

              <span itemtype="http://schema.org/Person" itemscope="itemscope" itemprop="author" class="entry-author">
                <img align="left" src="//0.gravatar.com/avatar/e79ddd03edffc5c0669b78e7a090b037?s=50" class="entry-author-image">
              </span>
            </p>
          </header>
          <div itemprop="text" class="entry-content">
            <h2 itemprop="headline" class="entry-title">All AngularJS Posts</h2>
            <p>See all posts tagged with {{tag.slug}}.</p>
          </div>
        </a>
      </article>
      </div>



    </section>


    <section id="tagpairing" class="pairing">
      <h2>{{tag.name}} Pair Programming</h2>

      <hr />
      {{#each experts}}{{> expertListItem }}{{/each}}

      <hr />
    </section>


  </section>
  {{/with}}

  </main>
</div>

<div ng-app="AP">
  <nav id="side" class="collapse" side-nav></nav>
</div>

{{> siteScripts }}
<script type="text/javascript" src="/v1/js/lite.js"></script>
<script type="text/javascript">

function bindTracking() {
  ga('send', 'pageview')

  $.each($('.featured a.btn'), function(idx,el) {
    $(el).click(function (e) {
      analytics.track('Click', { type: 'Tag Feature', unit: 'featured', idx: idx, text: el.innerHTML, location: window.location.pathname });
    });
  })
}

$(function() {
  pageHlpr.loadPoSt();
});


</script>

{{> initPage }}

</body>
</html>
