<html lang="en-US" prefix="og: http://ogp.me/ns#">
<head>
{{#with viewData}}{{> pageMeta }}{{/with}}
  {{> siteCss }}
</head>
<body>
{{> siteHeader }}

{{#with viewData}}
<div class="main-wrap">
  <main ng-view>
    <header class="entry-header">
      <p class="entry-meta">
        <a href="/workshops">Workshops</a>
        &nbsp; > &nbsp;
        <span class="entry-author" itemprop="author" itemscope="itemscope" itemtype="//schema.org/Person">
        {{#if by.username}}
          <a href="/book/{{by.username}}" class="entry-author-link" itemprop="url" rel="author" target="_self"><span class="entry-author-name" itemprop="name">{{by.name}}</span></a>
        {{else}}
          <span class="entry-author-name" itemprop="name">{{by.name}}</span>
        {{/if}}
        </span>
        &nbsp; > &nbsp;
        <span>{{ title }}</span>

      </p>
    </header>
    <section id="workshops">
<div id="show">
  <h1 class="entry-title">{{ title }}</h1>


  <div class="speakers">
    <div class="share">
      <div class="pw-widget pw-counter-vertical" pw:twitter-via="airpair">
        <a class="pw-button-facebook pw-look-native"></a>
        <a class="pw-button-twitter pw-look-native"></a>
        <a class="pw-button-linkedin pw-look-native"></a>
      </div>
    </div>
    <script type="text/javascript">  </script>

    <h2>Presenting</h2>
    <ul>
      {{#each speakers}}
      <li>
        <h3>{{ name }}</h3>
        <img src="//0.gravatar.com/avatar/{{ gravatar }}?s=400" />

        {{ fullBio }}
      </li>
      {{/each}}
    </ul>
  </div>

  <time>{{time }}</time>

  {{ difficulty }} {{#each tags}}<label> { {{ this }} } </label>{{/each}}

  <p>{{ description }}</p>

  <div class="action">
    {{#if youtube }}
    <div>
      <a href="/workshops" target="_self" class="btn" style="width:300px">Get access to all live talks</a>
      <label>with AirPair Membership</label>
    </div>
    {{else}}
    <div>
      <a href="/workshops/signup/{{slug}}" class="btn" style="width:300px">Sign up to attend workshop</a>
      <label>Limited space</label>
    </div>
    {{/if}}
  </div>
  <div class="player">
  {{#if youtube }}
    <div class="recording">
      <iframe width="640" height="360" src="//www.youtube-nocookie.com/embed/{{youtube}}" frameborder="0" allowfullscreen></iframe>
    </div>
  {{ else }}
    <div class="slide">
      <svg
   ng-if="entry"
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:xlink="http://www.w3.org/1999/xlink"
   version="1.1"
   width="640"
   height="480"
   id="svg3418"
   preserveAspectRatio="xMinYMin meet"
   viewBox="0 0 1920 1080">
  <metadata id="metadata3423">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <defs>
    <pattern id="slideavatar" x="0" y="0" patternunits="userSpaceOnUse" width="400" height="400">
      <image xlink:href="http://0.gravatar.com/avatar/{{#each speakers }}{{ gravatar }}{{/each}}?s=400"  width="300" height="300" x="80" y="70" />
    </pattern>
  </defs>
  <g transform="translate(0,27.637817)">
    <rect
       width="1920"
       height="1080"
       ry="0.82633966"
       x="0"
       y="-27.637817"
       id="rect4895"
       style="fill:#edf6f5;fill-opacity:1;stroke:none" />
    <path
     d="M 0,1080 0,825 309.10668,787.05576 789.93929,844.63445 524.26917,1081.0102 z"
     transform="translate(0,-27.637817)"
     id="path4831"
     style="fill:#000000;stroke:none" />
    <path
       d="m 790,845 1130,115 0,120 -1395,0 z"
       transform="translate(0,-27.637817)"
       id="path4833"
       style="fill:#91d1cb;fill-opacity:1;stroke:none" />
    <path
       d="m 0,-27.637817 c 14.285714,-1.45476 1920,0 1920,0 l 0,15 -600,45 -1320,-35 z"
       id="path4839"
       style="fill:#ce5423;fill-opacity:1;stroke:none" />
    <path
       d="m 0,25 1320,35 600,-50 0,5 L 1320,85.714286 0,48.571429 z"
       transform="translate(0,-27.637817)"
       id="path4841"
       style="fill:#a83202;fill-opacity:1;stroke:none" />
    <text
     x="460"
     y="240"
     transform="scale(0.93591061,1.0684781)"
     id="text4847"
     xml:space="preserve"
     style="font-size:104.68206787px;font-style:normal;font-weight:normal;line-height:125%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Sans"><tspan
       x="480"
       y="230"
       id="tspan4849"
       style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-family:Open Sans;color:#90d1cc">{{#each speakers }}{{ name }}{{/each}}</tspan></text>
    <circle
      id="avatarCircle"
      cx="12%"
      cy="20%"
      r="150"
      fill="url(#slideavatar)"
      stroke="black" />
    <text x="100" y="570"
       xml:space="preserve"
       style="font-size:82pt;font-style:normal;font-weight:200;line-height:100%;letter-spacing:0px;word-spacing:0px;fill:#000000;fill-opacity:1;stroke:none;font-family:Open Sans;color:#90d1cc">
      <tspan x="100" y="570">{{ title }}</tspan></text>
    <text
       x="100"
       y="680"
       style="font-size:64pt;font-style:normal;font-weight:200;line-height:50%;word-spacing:100px;fill:#000000;fill-opacity:1;stroke:none;font-family:Open Sans">
       {{#each tags }}{{ name }}{{/each}}</text>
    <image xlink:href="/v1/img/pages/workshops/aircasts.png" width="400" height="400" x="110" y="710" />
  </g>
</svg>
    </div>
  {{/if}}
  </div>


  <hr />
</div>
    </section>
  </main>
</div>
{{/with}}

{{> siteScripts }}

<script type="text/javascript">

function bindTracking() {
  ga('send', 'pageview')

}

function loadPoSt()
{
  window.pwidget_config = { shareQuote: false, afterShare: false };
  var p = document.createElement('script');
  p.type = 'text/javascript';
  p.async = true;
  p.src = ('https:' == document.location.protocol ? 'https://s' : 'http://i')
    + '.po.st/static/v3/post-widget.js#publisherKey=miu9e01ukog3g0nk72m6&retina=true';
  var x = document.getElementsByTagName('script')[0];
  console.log('load', p.src, x)
  x.parentNode.insertBefore(p, x);
}

loadPoSt();

</script>

{{> initPage }}
</body>
</html>
