<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
{{#with head}}<title>{{#if title }}{{title}}{{else}}{{ title }} | AirPair{{/if}}</title>{{#if description }}
  <meta name="description" content="{{ description }}"/>{{/if}}{{#if noindex }}
  <meta name="robots" content="noindex, follow">{{else}}
  <meta name="robots" content="index, follow">{{#if canonical }}
  <link rel="canonical" href="{{ canonical }}" />{{/if}}{{/if}}{{#if ogUrl }}
  <meta property="og:url" content="{{ogUrl}}"/>{{/if}}{{#if ogType }}
  <meta property="og:type" content="{{ogType}}"/>{{else}}
  <meta property="og:type" content="article"/>{{/if}}{{#if ogTitle }}
  <meta property="og:title" content="{{ogTitle}}"/>{{/if}}{{#if ogDescription }}
  <meta property="og:description" content="{{ogDescription}}"/>{{/if}}{{#if ogImage }}
  <meta property="og:image" content="{{ogImage}}"/>{{/if}}
  <meta property="og:locale" content="en_US"/>{{#if ios}}
  <link rel="apple-touch-icon" sizes="57x57" href="https://static.airpair.com/ico/author/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="https://static.airpair.com/ico/author/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="https://static.airpair.com/ico/author/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="https://static.airpair.com/ico/author/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="https://static.airpair.com/ico/author/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="https://static.airpair.com/ico/author/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="https://static.airpair.com/ico/author/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="https://static.airpair.com/ico/author/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="https://static.airpair.com/ico/author/apple-icon-180x180.png">{{/if}}{{#if android}}
  <link rel="icon" type="image/png" sizes="192x192" href="https://static.airpair.com/ico/author/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="https://static.airpair.com/ico/author/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="https://static.airpair.com/ico/author/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="https://static.airpair.com/ico/author/favicon-16x16.png">
  <link rel="manifest" href="https://static.airpair.com/ico/author/manifest.json">{{/if}}{{#if ms}}
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="https://static.airpair.com/ico/author/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">{{/if}}{{/with}}{{#if css}}
  <link rel="stylesheet" href="{{css.libs}}" type="text/css" />
  <link rel="stylesheet" href="{{css.app}}" type="text/css" />{{/if}}
  <base href="/" />
</head>
