<!DOCTYPE html>
<html ng-app="ADM">
<head>
  <title>Adm | AirPair</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ css.libs }}" type="text/css" />
  <link rel="stylesheet" href="{{ css.adm }}" type="text/css" />
  <base href="/" />
</head>
<body>
<header>
  <a href="/adm/pipeline" target="_self">Pipeline</a> |
  <a href="/adm/bookings">Bookings</a> |
  <a href="/adm/orders">Orders</a> |
  <a href="/adm/users">Users</a>
  <span class="nomob">| <a href="/adm/experts">Experts</a></span>
</header>

<main>
  <div notifications></div>
  <div ng-view></div>
</main>


<script type="text/javascript" src="{{ js.adm }}"></script>
<script type="text/javascript">

window.viewData = { session: {{{ JSON session }}}, hangoutAppId: "{{ config.hangout.appId }}"}

</script>

</body>
</html>
