<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#" ng-app="AP" ng-strict-di>
<head>
  {{> htmlHead }}
</head>
<body>
  {{> siteNav }}

  <div class="main-wrap">
    <div notifications></div>
    <main ng-view>
      <div id="serverTemplate">{{{body}}}</div>
    </main>
  </div>

  <script type="text/javascript" src="{{js.index}}"></script>
  <script type="text/javascript">

  function bindTracking() {
    ga('send', 'pageview')
  }

  window.viewData = {
    session: {{{ JSONSESSION session }}}, {{#if r.htmlHead }}
    canonical: '{{{ r.htmlHead.canonical }}}', {{/if}}{{#if r.tag}}
    tag: {{{ JSON r.tag }}}, {{/if}}{{#if r.htmlHead.ogTypePost }}
    post: {{{ JSONPOST r }}}, {{/if}}
  }

  </script>


  {{> initPage }}
</body>
</html>
