<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#" ng-app="AP" ng-strict-di>
<head>
  {{> htmlHead }}
</head>
<body>
  {{> siteNav }}

  <div class="main-wrap">
    <div notifications></div>
    <main ng-view>
      <div id="srv">{{{body}}}</div>
    </main>
  </div>

  {{> siteFooter }}

  <script type="text/javascript" src="{{js.app}}"></script>
  <script type="text/javascript">

  function trackpageview() { ga('send', 'pageview') }

  window.pageData = {
    session: {{{ JSONSESSION session }}}, {{#if r.htmlHead }}
    canonical: '{{{ r.htmlHead.canonical }}}', {{/if}}{{#if r.tag}}
    tag: {{{ JSON r.tag }}}, {{/if}}{{#if r.htmlHead.ogTypePost }}
    post: {{{ JSONPOST r }}}, {{/if}}
  }

  </script>

  {{> ga }}

</body>
</html>
