<!DOCTYPE html>
<html ng-app="Author" ng-strict-di>
{{> htmlHead }}
<body class="{{css.page}}">
  {{> siteNav}}

  <div>
    {{{body}}}
  </div>

  {{> siteFooter}}
  <ins errors-header></ins>

  {{#if js.analyitcs}}{{ analytics }}{{/if}}
  <script type="text/javascript" src="{{js.author}}"></script>
  <script>
    window.pageData = { session: {{{ JSON session }}} }
  </script>

</body>
</html>
