  <article class="blogpostblank">

  <h1 class="entry-title" itemprop="headline">{{ title }}</h1>

  <post no-compile>{{{ html }}}</post>

  <div class="share">
    <div class="pw-widget pw-counter-vertical" pw:twitter-via="airpair">
      <a class="pw-button-facebook pw-look-native"></a>
      <a class="pw-button-twitter pw-look-native"></a>
      <a class="pw-button-linkedin pw-look-native"></a>
    </div>
  </div>

  <div class="rail1CTA railBookmarkCTA">
    <h6>Like this article?</h6>
    <div>
      <img src="{{by.avatar}}?s=100" />
      <div bookmarkerserver type="'post'" object-id="'{{_id}}'"></div>
      <p>Save it to your bookmarks</p>
    </div>
  </div>

</article>

<section id="posts" class="similar">
  <hr />
  <h5>This post is categorized under</h5>
  <ul>{{#each tags}}
    <li><a href="/posts/tag/{{ slug }}">{{ name }}</a></li>
  {{/each}}
  </ul>

  <section id="allposts">
    <h3>Similar posts<span><a href="/posts" target="_self">Recent posts</a></span></h3>
    <div class="posts recent">
      {{#each similar}}{{> postListItem this}}{{/each}}
    </div>
  </section>

</section>
