<p>Hoorah {{firstName}},</p>

<p>{{expertName}} is available!</p>

{{#if noPaymethods}}
<p>Make sure you add your billing details so you can see their reponse:</p>

<p>Step 1, <a href="https://www.airpair.com/billing">Add a Card</a></p>

<p>Step 2, <a href="https://www.airpair.com/review/{{requestId}}">See {{expertName}}'s reply</a> </p>

{{else}}

<p>Details => https://www.airpair.com/review/{{requestId}}</p>

{{/if}}

<p>The AirPair Team
  <br />http://twitter.com/airpair
</p>
