{{#if isAvailable}}<p>Time to close?</p>
{{else}}<p>Plenty o' fish in the sea ...</p>{{/if}}

<p>{{byName}} replied {{expertStatus}} to {{requestByName}}:</p>

<p>Adm => https://www.airpair.com/adm/pipeline/{{requestId}}</p>

<p>As customer => https://www.airpair.com/review/{{requestId}}</p>
